body {
  font-family: sans-serif;
  padding: 140px 20px 20px;
}

.demo-content {
  line-height: 40px;
}

p {
  background: #fafafa;
  text-align: right;
}

* {
  box-sizing: border-box;
}

.h1 {
  background: #ffeeee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  text-align: right;
}

.h2 {
  background: #eeffee;
  position: fixed;
  top: 40px;
  left: 0;
  right: 80px;
  height: 40px;
  text-align: right;
}

.h3 {
  background: #eeeeff;
  position: absolute;
  top: 80px;
  height: 40px;
  left: 0;
  width: 100%;
  text-align: right;
}