body {
  font-family: Arial, sans-serif;
  padding: 120px 20px 20px;
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.el {
  display: flex;
  background: #ddd;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  padding: 0 20px;
}

.el-absolute1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.el-absolute2 {
  position: absolute;
  top: 70px;
  right: 100px;
  left: 0;
}

.el-full-width {
  position: relative;
  margin: 20px 0 0;
}

.el-centered {
  width: 80%;
  margin: 20px auto 0;
}

.el-text {
  flex: 1;
}

.el-indicator {
  flex-shrink: 0;
  align-self: center;
  width: 30px;
  height: 30px;
  background: #000;
  margin-right: -10px;
}

.buttons-container {
  text-align: center;
  margin: 40px 0 0;
}

.buttons-headline {
  font-size: 22px;
  margin: 0 0 10px;
}

.buttons-description {
  margin: 0 0 15px;
  color: #999;
  font-size: 14px;
}

.buttons-native .buttons-headline {
  color: #d33;
}

.buttons-unscroll .buttons-headline {
  color: #390;
}

.spacer {
  height: 6000px;
}

.native-remove-scrolling {
  overflow: hidden;
}
