body {
    font-family: sans-serif;
    padding: 100px;
  }
  
  p {
    background: #fafafa;
    text-align: right;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .h {
    background: #ffeeee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    text-align: right;
  }
  
  .h2 {
    background: #eeffee;
    position: fixed;
    top: 20px;
    left: 0;
    right: 80px;
    height: 20px;
    text-align: right;
  }
  
  .h2A {
    background: #eeffff;
    position: fixed;
    top: 40px;
    left: 0;
    right: 80%;
    height: 20px;
    text-align: right;
  }
  
  .h3 {
    background: #eeeeff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: right;
  }